:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131111;
    height: 100px;

    @media(max-width: 720px) {
        height: 70px;
    }
}

img {
    transition: transform 200ms ease-in-out;
    width: 34px;
    height: 34px;

    @media (hover: hover) {
        &:hover {
            transform: scale(1.5);
        }
    }


    @media(max-width: 720px) {
        width: 30px;
        height: 30px;
    }
}

a {
    &:nth-child(2) {
        margin-left: 128px;
        margin-right: 128px;

        @media(max-width: 720px) {
            margin-left: 64px;
            margin-right: 64px;
        }

        @media(max-width: 400px) {
            margin-left: 48px;
            margin-right: 48px;
            /*  */
        }
    }
}