:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131111;
    height: 100px;

    @media(max-width: 720px) {
        height: 70px;
    }
    @media(min-width: 1920px) and (min-height: 1080px) {
        height: 12vh;
    }

}

div {
    position: absolute;
    bottom: 0;
    a {
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
        color: #515050;
        font-size: 8px;
        text-decoration: none;
        
    @media(max-width: 720px) {
        margin-top: 50px;
    }
    }
}

img {
    transition: transform 200ms ease-in-out;
    width: 34px;
    height: 34px;

    @media (hover: hover) {
        &:hover {
            transform: scale(1.5);
        }
    }


    @media(max-width: 720px) {
        width: 30px;
        height: 30px;
    }

    @media(min-width: 1920px) and (min-height: 1080px) {
        height: 5vh;
        width: 5vh;
    }
}

a {
    &:nth-child(2) {
        margin-left: 128px;
        margin-right: 128px;

        @media(max-width: 720px) {
            margin-left: 64px;
            margin-right: 64px;
        }

        @media(max-width: 400px) {
            margin-left: 48px;
            margin-right: 48px;
        }
        @media(min-width: 1920px) and (min-height: 1080px) {
            margin-right: 8vh;
            margin-left: 8vh;
        }
    }
}