<h1 class="work-heading">My Work</h1>
<div class="btn-container">
    <button (click)="showAll()">All</button>
    <button (click)="showAngular()">Angular</button>
    <button (click)="showJS()">Java Script</button>
</div>
<div class="work-collection">
    <div *ngIf="displayJS" class="single-work-container">
        <img id="elpolloloco" class="opacity-0" [ngClass]="{'opacity-0': !filterclicked, 'slide-from-right-animation': filterclicked}"
            src="assets/img/work/elpolloloco.png" data-lazy="assets/img/work/elpolloloco.png">
        <div class="middle">
            <div class="work-description">
                <h3>El Pollo Loco</h3>
                <p>Java Script - based jump and run desktop game.</p>
                <a href="https://rinatmadreiter.github.io/El_Pollo_Loco/"
                    target="_blank" rel="noopener noreferrer"><button>Visit now!</button></a>
            </div>
        </div>
    </div>

    <div *ngIf="displayJS" class="single-work-container">
        <img [ngClass]="{'opacity-0': !filterclicked, 'slide-from-right-animation': filterclicked}" data-lazy="assets/img/work/pokedex.png"
            src="assets/img/work/pokedex.png">
        <div class="middle">
            <div class="work-description">
                <h3>Pokedex</h3>
                <p>Using the RESTful Pokémon API to display pokemon via JavaScript.</p>
                <a href="https://rinatmadreiter.github.io/pokedex/" target="_blank"
                    rel="noopener noreferrer"><button>Visit now!</button></a>
            </div>
        </div>
    </div>

    <div *ngIf="displayAngular" class="single-work-container">
        <img [ngClass]="{'opacity-0': !filterclicked, 'slide-from-right-animation': filterclicked}" data-lazy="assets/img/work/portfolio.png"
            src="assets/img/work/portfolio.png">
        <div class="middle">
            <div class="work-description">
                <h3>Personal Website</h3>
                <p>Angular - based personal portfolio website.</p>
                <a href="#top"><button>Visit now!</button></a>
            </div>
        </div>
    </div>

    <div *ngIf="displayAngular" class="single-work-container">
        <img [ngClass]="{'opacity-0': !filterclicked, 'slide-from-right-animation': filterclicked}"
            data-lazy="assets/img/work/cardgame.png" src="assets/img/work/cardgame.png">
        <div class="middle">
            <div class="work-description">
                <h3>Language Card Game</h3>
                <p>Angular - based card game.</p>
                <a href="https://ring-of-fire-22675.web.app/" target="_blank"
                    rel="noopener noreferrer"><button>Visit now!</button></a>
            </div>
        </div>
    </div>

</div>