<h1>My Skills</h1>
<div class="skills-container">
    <div class="skill">HTML<img class="opacity-0" data-lazy="assets/img/skills/html.svg"></div>
    <div class="skill">CSS<img class="opacity-0" data-lazy="assets/img/skills/css.svg"></div>
    <div class="skill ">Java Script<img class="opacity-0" data-lazy="assets/img/skills/js.svg"></div>
    <div class="skill">Angular<img class="opacity-0" data-lazy="assets/img/skills/angular.svg"></div>
    <div class="skill">Github<img class="opacity-0" data-lazy="assets/img/skills/github.svg"></div>
    <div class="skill">Firebase<img class="opacity-0" data-lazy="assets/img/skills/firebase.svg"></div>
    <div class="skill">Apps<img class="opacity-0" data-lazy="assets/img/skills/phone.png"></div>
    <div class="skill">Scrum<img class="opacity-0" data-lazy="assets/img/skills/scrum.svg"></div>
    <div class="skill">Business Software<img class="opacity-0" data-lazy="assets/img/skills/business.png"></div>
</div>