<div class="start-screen" id="home">
    <app-menu></app-menu>
    <app-welcome-section></app-welcome-section>
</div>
<app-skills-section></app-skills-section>
<app-my-work id="myWork"></app-my-work>

<!-- <a target="_blank" href="https://icons8.com/icon/b5jYDydwYBxs/smartphone">Smartphone</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/yF8MMlVM1HOP/software">Software</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->