:host {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    height: 88vh;

    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

.main {
    margin-top: 80px;
    margin-right: 14vw;
    margin-left: 14vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    @media(max-width: 1000px) {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 10px;
    }

    @media(max-width: 720px) {
        margin-right: 8vw;
        margin-left: 8vw;
    }

    img {
        width: 400px;
        border-radius: 50%;
        object-fit: cover;

        @media(max-width: 1286px) {
            width: 295px;
        }

        @media(max-width: 1000px) and (min-width: 720px) {
            width: 250px;
        }
    }
}


.primary {
    color: #FA2759;
}

.secondary {
    color: #2DFCD8;
}

button {
    font-size: 18px;
    width: 300px;
    height: 78px;
    background-color: black;
    color: #FA2759;
    border-color: #FA2759;
    cursor: pointer;
    animation: 225ms ease-in-out;

    &:hover {
        background-color: #FA2759;
        color: black;
    }

}

.greeting-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: 1286px) {
        min-width: 510px;
    }

    @media(max-width: 1000px) {
        margin-top: 64px;
    }

    @media(max-width: 720px) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-width: none;
    }

    a {

        @media(max-width: 1000px) {
            text-decoration: none;
            margin-top: 64px;
            display: flex;
            justify-content: center;
        }
    }
}


#arrowDown {
    width: 57px;
    height: 57px;

    @media(max-width: 1000px) {
        display: none;
    }
}

.arrow-down {
    transform: (rotate(0.5turn));
    width: 15px;
    margin-left: calc(50vw - 50px);
    margin-right: calc(50vw - 50px);
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    padding: 20px;
    cursor: pointer;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
    animation: move-down ease-in-out 1000ms infinite alternate;

    &:hover {
        cursor: pointer;
        filter: invert(50%) sepia(86%) saturate(6872%) hue-rotate(330deg) brightness(97%) contrast(101%);
    }

    @media(max-width: 1286px) {
        margin-left: calc(50vw - 39px);
    }
}

@media(max-width: 1286px) {

    @keyframes move-down {
        0% {
            margin-top: 110px;
        }

        100% {
            margin-top: 80px;
        }
    }
}

@media(min-width: 1286px) {

    @keyframes move-down {
        0% {
            margin-top: 40px;
        }

        100% {
            margin-top: 10px;
        }
    }
}


.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272c60;

    @media(max-width: 1286px) {
        min-width: 510px;
    }
}



/* needed for lazyload animation */
.opacity-0 {
    transform: translateX(50%);
    opacity: 0;
    transition: all 3000ms;

    @media(max-width: 1286px) {
        transform: translateX(14%);
    }
}

/* needed for lazyload animation */
.fade {
    transform: translateX(0);
    opacity: 1;
    transition: all 3000ms;
}


@keyframes typing {
    from {
        width: 0
    }
}

@keyframes border {
    50% {
        border-color: transparent
    }
}

@keyframes border-none-end {
    0% {
        border-right: none;
    }

    100% {
        border-right: none;
    }
}

@keyframes border-none-start {
    0% {
        border-right: none;
        visibility: hidden;
    }

    100% {
        border-right: none;
        visibility: hidden;
    }
}

.typing-demo {
    width: 23ch;
    animation: typing 1.5s steps(23), border .5s step-end infinite alternate, border-none-end 1s 1.5s infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 55px;

    @media(max-width: 1286px) {
        font-size: 40px;
    }

    @media(max-width: 1000px) and (min-width: 720px) {
        font-size: 30px;
    }

    @media(max-width: 720px) {
        font-size: 32px;
        line-height: 45px;
    }
}


.typing-demo2 {
    width: 19ch;
    animation: typing 1.5s steps(19) 2s, border .5s step-end infinite alternate, border-none-start 2s 1, border-none-end 1s 3.5s infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 55px;

    @media(max-width: 1286px) {
        font-size: 40px;
    }

    @media(max-width: 1000px) and (min-width: 720px) {
        font-size: 30px;
    }

    @media(max-width: 720px) {
        font-size: 32px;
        // line-height: 45px;
    }
}

br {
    @media(max-width: 1000px) {
        display: none;
    }
}

//  Outline for Responsive Debugging

// * :not(.arrow-down, #arrowDown) {
//     outline: 1px solid limegreen !important;
// }