<div class="main">
    <div class="greeting-contact-container">
        <div id="container">
            <div class="typing-demo">
                Hi, I`m <span class="secondary">Rinat Madreiter</span>
                <!-- Front End Develop<span
                    class="primary">e</span>r! -->
            </div>
            <br>
            <div class="typing-demo2">
                Front End Develop<span class="primary">e</span>r!
            </div>
        </div>

        <a href="#contact"><button>Contact Me</button></a>

    </div>

    <img src="assets/img/profile3.jpg">
</div>

<a href="#skills" id="arrowDown"><img class="arrow-down" src="assets/img/footer/arrowup.png"></a>