<div class="contact-container" id="contact">
    <h1>Contact Me.</h1>
    <p class="info">Get in touch via the form below, or by emailing <a href="mailto:r.madreiter@gmx.at">r.madreiter@gmx.at</a>
    </p>
    
    <form target="_blank" action="https://rinatmadreiter.github.io/send_mail/send_mail.php" method="post">
        <label for="name" class="c1">Name</label>
        <input id="name" required name="name" placeholder="Enter your name" type="text">
        <label for="email" class="c1">Email adress</label>
        <input id="email" name="email" required placeholder="Enter your Email adress" type="email">
        <label for="message" class="c1">Message</label>
        <textarea type="text" id="message" required name="message" cols="30" rows="7" placeholder="Enter your message"></textarea>
        <div class="button-container"> <button type="submit" (click)="sentEmail()">Send</button> </div>
    </form>
 
</div>