
<div class="contact-container">
<h1>Contact Me.</h1>
<p class="info">Get in touch via the form below, or by emailing <a href="mailto:hello@test.com">hello@test.com</a> </p>

<form  action="http://rinat-madreiter.developerakademie.net/send_mail/send_mail.php" method="post">
    <p class="c1">Name</p>
    <input name="name" placeholder="Enter your name" type="text">
    <p class="c1">Email adress</p>
    <input placeholder="Enter your Email adress" type="text">
    <p class="c1">Message</p>
    <textarea name="message" id="" cols="30" rows="7" placeholder="Enter your message"></textarea>
</form>

<div class="button-container"><button type="submit">Send</button></div>
</div>