<div class="contact-container">
    <h1>Contact Me.</h1>
    <p class="info">Get in touch via the form below, or by emailing <a href="mailto:hello@test.com">hello@test.com</a>
    </p>

    <div class="hidden-response d-none" id="responseSentEmail">
        <h1> Your email was successfully sent.</h1> <br>
        <h1> Thank You for your Message!</h1>
    </div>
    
    <form target="_blank" action="http://rinat-madreiter.developerakademie.net/send_mail/send_mail.php" method="post">
        <label for="name" class="c1">Name</label>
        <input id="name" required name="name" placeholder="Enter your name" type="text">
        <label for="email" class="c1">Email adress</label>
        <input id="email" name="email" required placeholder="Enter your Email adress" type="email">
        <label for="message" class="c1">Message</label>
        <textarea type="text" id="message" required name="message" cols="30" rows="7" placeholder="Enter your message"></textarea>
        <div class="button-container"><button type="submit" >Send</button></div><!--  (click)="emailSent()" -->
    </form>
 
</div>