<div class="upper-container">
    <img class="opacity-0" data-lazy="assets/img/profile4.jpeg">
    <div class="short-description">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
    </div>
</div>

<div class="journey-section">
    <div class="journey-sub-section">
        <img class="opacity-0" data-lazy="assets/img/about/1.png">
        <h4>MY JOURNEY BEGAN</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consequatur magnam dolore nihil perspiciatis totam cumque deleniti odio atque!</p>
    </div>
    <div class="journey-sub-section">
        <img class="opacity-0" data-lazy="assets/img/about/2.png">
        <h4>MY JOURNEY BEGAN</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consequatur magnam dolore nihil perspiciatis totam cumque deleniti odio atque!</p>
    </div>
    <div class="journey-sub-section">
        <img class="opacity-0" data-lazy="assets/img/about/3.png">
        <h4>MY JOURNEY BEGAN</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consequatur magnam dolore nihil perspiciatis totam cumque deleniti odio atque!</p>
    </div>
    <div class="journey-sub-section">
        <img class="opacity-0" data-lazy="assets/img/about/4.png">
        <h4>MY JOURNEY BEGAN</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consequatur magnam dolore nihil perspiciatis totam cumque deleniti odio atque!</p>
    </div>
</div>