:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 14vw;
    margin-left: 14vw;
    background-color: #131111;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-top: 100px;
    padding-top: 100px;

    @media only screen and (orientation: landscape) and (max-width: 1000px) {
        margin-right: 10vw;
        margin-left: 10vw;
    }

    @media(max-width: 1286px) {
        margin-top: 100px;
        padding-top: 0;
    }

    @media(max-width: 720px) {
        margin-right: 8vw;
        margin-left: 8vw;
        background-color: #000000;
    }
}

.upper-container {

    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #FA2759;
    padding-bottom: 50px;
    width: calc(100vw - 40vw);

    @media only screen and (orientation: landscape) and (max-width: 1000px) {
        width: calc(100vw - 30vw);
    }

    @media(max-width: 1286px) {
        justify-content: space-between;
        margin-top: 50px;
    }

    @media(max-width: 720px) {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
        object-position: 70%;

        @media(max-width: 1286px) {
            margin-right: 32px;
        }

        @media(max-width: 720px) {
            margin-right: 0;
        }

        @media(min-width: 1920px) and (min-height: 1080px) {
            width: 23vh;
            height: 23vh;
        }
    }
}

.short-description {
    display: flex;
    flex-direction: column;
}

.journey-section {
    display: flex;
    flex-direction: row;
    position: relative;

    @media(max-width: 1286px) {
        flex-direction: column;
        align-items: center;
    }
}

.journey-sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 48px;
    width: 25%;

    @media (max-width: 1286px) {
        width: 80%;
    }


    img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #2DFCD8;
        padding: 20px;
        object-fit: fill;
        @media(min-width: 1920px) and (min-height: 1080px) {
            height: 2vh;
            width: 2vh;
        }
    }

    h4 {
        @media(min-width: 1920px) and (min-height: 1080px) {
            font-size: 2.5vh;
            margin-bottom: 2vh;
            line-height: 2.7vh;
        }
    }
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    @media(min-width: 1920px) and (min-height: 1080px) {
        font-size: 2vh;
        line-height: 2.5vh;
        margin: 5vh 0;
    }
}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

    @media(max-width: 720px) {
        font-size: 32px;
        line-height: 40px;
    }

    @media(min-width: 1920px) and (min-height: 1080px) {
        font-size: 5vh;
        margin-bottom: 2vh;
    }
}

/* needed for lazyload animation */
.opacity-0 {
    transform: translateX(100%);
    opacity: 0;
    transition: all 1500ms;

    @media(max-width: 1200px) {
        transform: translateX(15%);
    }
    @media(max-width: 370px) {
        transform: translateX(5%);
    }
}

.fade {
    transform: translateX(0);
    opacity: 1;
    transition: all 1500ms;
}