<div class="upper-container">
    <img class="opacity-0" data-lazy="assets/img/profile4.jpeg">
    <div class="short-description">
        <h1>About me</h1>
        <p>"I'm a goal oriented developer who loves to create web applications with proven web technologies and well made user experiences!"
        </p>
    </div>
</div>

<div class="journey-section">
    <div class="journey-sub-section">
        <img class="opacity-0" data-lazy="assets/img/about/1.png">
        <h4>MY JOURNEY BEGAN</h4>
        <p>as a shift supervisor in a high pressure service driven environment and then a shipping director for a multi channeled operation. </p>
    </div>
    <div class="journey-sub-section">
        <img class="opacity-0" data-lazy="assets/img/about/2.png">
        <h4>MY PASSION </h4>
        <p>was born while studying technical computer science. I decided to turn creating solutions through coding and technology into my profession.</p>
    </div>
    <div class="journey-sub-section">
        <img class="opacity-0" data-lazy="assets/img/about/3.png">
        <h4>SEARCHING FOR</h4>
        <p>ways to deepen my knowledge in frontend development, I found an project based coding academy. All my built from the ground up projects and codes
             were reviewed by experienced programmers which helped me to fine tune my skills.</p>
    </div>
    <div class="journey-sub-section">
        <img class="opacity-0" data-lazy="assets/img/about/4.png">
        <h4>MY GOAL</h4>
        <p>to turn my passion into my profession is closer then ever before. 
            I am always ready for a new challenge and to grow as a frontend developer. 
           </p>
    </div>
</div>