:host {
    display: block;
    margin-right: 14vw;
    margin-left: 14vw;
    padding-bottom: calc(85vh - 357px);
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: #FA2759;
    }
}