:host {
    display: block;
    margin-right: 14vw;
    margin-left: 14vw;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
    color: white;
    animation: 225ms ease-in-out;


        &:hover {
            color: #FA2759;
        }
}